{% extends "layout.html" %}
{% block content %}
    <div class="container">
    <h1>添加用户</h1>
    <form method="post">
        <div class="form-group">
            <label for="t1">用户名称</label>
            <input id="t1" type="text" class="form-control" name="username" placeholder="用户名">
            <input id="t1" type="text" class="form-control" name="password" placeholder="密码">
            <input id="t1" type="text" class="form-control" name="age" placeholder="年龄">
        </div>
        <input type="submit" value="添加" class="btn btn-default">
    </form>
   </div>
{% endblock %}